<div class="min-h-screen bg-gray-100 py-10 px-4 flex justify-center items-start font-sans">
  <div class="max-w-212.5 w-full bg-white rounded-2xl shadow-2xl overflow-hidden border border-gray-200">
    <setup-header />
    <div class="p-8 bg-[#FBFCFE]">
      @if (isSuccess()) {
      <div class="text-center py-10">
        <span class="loading loading-dots loading-md"></span>
      </div>
      } @else {
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-10" autocomplete="off">
        <setup-company [formGroup]="form" />
        <setup-rol [formGroup]="form" />
        <setup-admin [formGroup]="form" />
        <div class="flex flex-col items-center pt-8 gap-4">
          <button type="submit" [disabled]="setupMutation.isPending()" class="btn min-h-12 h-auto border-none text-white font-semibold uppercase text-xs px-16 rounded-xl shadow-lg transition-all ease-in-out active:scale-95 flex items-center gap-3
          bg-[#3178C6] hover:bg-[#2B5797] disabled:bg-gray-400">
            @if (setupMutation.isPending()) {
            <span class="loading loading-spinner loading-xs"></span>
            <span>Iniciando...</span>
            } @else {
            <span>Inicializar Sistema</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
              stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
            }
          </button>
        </div>
      </form>
      }
    </div>
  </div>
  <custom-toast></custom-toast>
</div>
